body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
    background-color: #000;
    display: block;
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#color {
    width: 500px;
    height: 500px;
    background: #fff;
}
